{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia catalog_admin %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  <li>
    <a href="{{ original.content_object|admin_url }}">{% trans 'Edit' %} {{ original.content_object }}</a>
  </li>
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block after_field_sets %}
<fieldset class="module inline-group aligned">
<h2>{% trans "Move tree item" %}</h2>
<div class="form-row show">
    <a onclick="return showAddAnotherPopup(this);" href="move">{% trans 'Move' %} {{ original.content_object }}</a>
</div> 
</fieldset>
{% endblock %}
