{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load mptt_tags %}

{% block after_field_sets %}
{% block links %}
<fieldset class="module inline-group aligned">
<h2>{% trans "Object's links" %}</h2>
<div class="form-row show">
    <label for="main_breadcrumb">{% trans "Main breadcrumb" %}:</label>
    <p id="main_breadcrumb">{{ original.tree.get.get_ancestors|tree_path:" &rarr; "|safe }}{{ original.tree.get }}</p>
</div> 
<div class="form-row show">
    <label for="links_breadcrumbs">{% trans "All breadcrumbs" %}:</label>
    <ul>
        <li>Under constrution</li>
    </ul>
</div>
</fieldset>
{% endblock %}
{% endblock %}
