{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="http://extjs-public.googlecode.com/svn/tags/extjs-3.3.1/release/resources/css/ext-all.css"/>
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
{% endblock %}

{% block extrahead %}
{{ block.super }}

    <script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.3.1/release/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.3.1/include/ext-all-debug.js"></script>

    <script type="text/javascript" src="direct/provider.js"></script>
    {% if STATIC_URL %}
    <script type="text/javascript" src="{{ STATIC_URL }}/catalog/catalog.js"></script>
    {% else %}
    <script type="text/javascript" src="/media/catalog/catalog.js"></script>
    {% endif %}
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = 'http://extjs-public.googlecode.com/svn/tags/extjs-3.3.1/release/resources/images/default/s.gif';
    </script>

{% endblock %}

{% block content_title %}<h1>{% trans "Wait while interface is loading..." %}</h1>{% endblock %}

{% block content %}
{% if STATIC_URL %}
<img src="media/spinner.gif" alt="spinner" />
{% else %}
<img src="media/spinner.gif" alt="spinner" />
{% endif %}
<a href="?plain=1">{% trans "Show plain HTML view" %}</a>
{% endblock %}
