{% load mptt_tags %}

<ul class="root">
	<li>
		<a href="{% url catalog-root %}">Каталог</a>
	</li>
	<ul>
    {% recursetree nodes %}
    	{% if node.level == 0 %}
        <li>
        	<a href="{{ node.content_object.get_absolute_url }}">{{ node.content_object.name }}</a>
        
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endrecursetree %}
    </ul>
</ul>