{% extends "catalog/base.html" %}

{% block title %}{% if item.seo_title %}{{ item.seo_title }}{% else %}{{ item.name }}{% endif %}{% endblock %}

{% block meta_keywords %}{{ item.seo_keywords }}{% endblock %}
{% block meta_description %}{{ item.seo_description }}{% endblock %}

{% block content %}
    <!-- Описание товара -->
	<h3>{{ item.name }}</h3>
    <div class="about">
        {% if item.images.count %}
            <img src="{{ item.images.all.0.image.url }}" alt="Изображение товара" title="Изображение товара">
        {% else %}
            <img src="/media/img/default_item_image.jpg" alt="Изображение товара" title="Изображение товара">
        {% endif %}
        <span>Цена: <span id="price">{{ item.price }} рублей</span></span><br />
        <input type="submit" id="item-{{ item.id }}" value="Добавить в корзину" class="submit basket" />
        <div>{{ item.description|safe }}</div>
    </div>
{% endblock content %}
