{% extends 'base.html' %}

{% load mptt_tags %}

{% block content %}
	<div class="span-6 colborder">
	{% block catalog_tree %}
		{% full_tree_for_model catalog.TreeItem as catalog_tree %}
		{% for catalog_tree_element,structure in catalog_tree|tree_info %}
			{% if catalog_tree_element.level != 0 %}
				{% for cur_node_ancestor in cur_node.get_ancestors %}
					{% if cur_node_ancestor == catalog_tree_element %}
						<li style="margin-left: {{ catalog_tree_element.level }}em;">
							<a href="{{ catalog_tree_element.content_object.get_absolute_url }}">{{ catalog_tree_element }}</a>
						</li>
						{% if forloop.last %}
							<li style="margin-left: {{ cur_node.level }}em;">
								<a href="{{ cur_node.content_object.get_absolute_url }}">{{ cur_node }}</a>
							</li>
							{% for cur_node_child in cur_node.get_children %}
								<li style="margin-left: {{ cur_node_child.level }}em;">
									<a href="{{ cur_node_child.content_object.get_absolute_url }}">{{ cur_node_child }}</a>
								</li>
							{% endfor %}
						{% endif %}
					{% endif %}
				{% endfor %}
				{% if cur_node.get_ancestors|length == 1 and cur_node == catalog_tree_element %}
					<li style="margin-left: {{ cur_node.level }}em;">
						<a href="{{ cur_node.content_object.get_absolute_url }}">{{ cur_node }}</a>
					</li>
					{% for cur_node_child in cur_node.get_children %}
						<li style="margin-left: {{ cur_node_child.level }}em;">
							<a href="{{ cur_node_child.content_object.get_absolute_url }}">{{ cur_node_child }}</a>
						</li>
					{% endfor %}
				{% endif %}
			{% else %}
				<li style="margin-left: {{ catalog_tree_element.level }}em;">
					<a href="{{ catalog_tree_element.content_object.get_absolute_url }}">{{ catalog_tree_element }}</a>
				</li>
				{% if cur_node == catalog_tree_element %}
					{% for cur_node_child in cur_node.get_children %}
						<li style="margin-left: {{ cur_node_child.level }}em;">
							<a href="{{ cur_node_child.content_object.get_absolute_url }}">{{ cur_node_child }}</a>
						</li>
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endblock %}
	</div>

	<div class="span-9 last">
		{% include 'catalog/section_breadcrumbs.html' %}
		<hr>
		{% for item in items %}
			<div class="span-2">
			{% if item.content_object.images.count %}
			    <img src="{{ item.content_object.images.all.0.image.url }}" />
			{% endif %}
			</div>
			<div class="span-7 last">
				Название: {{ item.content_object.name }}<br>
				Описание: {{ item.content_object.description|default:"Описание не доступно" }}<br>
				<a href="{{ item.content_object.get_absolute_url }}">Прямая ссылка на этот товар</a>
			</div>
			<hr>
		{% endfor %}
		
		<!-- 
		{% for item in sections %}
			<div class="span-10">
				<a href="{{ item.content_object.get_absolute_url }}">{{ item.content_object.name }}</a>
			</div>
		{% endfor %}
		-->
	</div>
{% endblock %}