{% ifequal treeitem.content_type.model 'section' %}
    {% with treeitem.content_object as section %}
        {% include "catalog/section.html" %}
    {% endwith %}
{% endifequal %}
{% ifequal treeitem.content_type.model 'item' %}
    {% with treeitem.content_object as item %}
        {% include "catalog/item.html" %}
    {% endwith %}
{% endifequal %}
{% ifequal treeitem.content_type.model 'metaitem' %}
    {% with treeitem.content_object as section %}
    {% with treeitem.children_item as items %}
        {% include "catalog/metaitem.html" %}
    {% endwith %}
    {% endwith %}
{% endifequal %}