{% load catalog_tags %}
{% if not section %}
    {% for child in children %}
        <div id="topmenu-{{ child.tree.id }}" {% spaceless %}
            {% if selected_id %}
                {% ifequal selected_id child.tree.id %}
                    style="display: block;"
                {% else %}
                    style="display: none;"
                {% endifequal %}
            {% else %}
                {% if forloop.first %}
                    style="display: block;"
                {% else %}
                    style="display: none;"
                {% endif %}
            {% endif %}
        {% endspaceless %}>
            {% catalog_menu child %}
        </div>
    {% endfor %}
{% else %}
    {% if children %}
    <ul {% spaceless %}
        {% ifequal section.tree.level 1 %}class="submenu"{% endifequal %}
        {% ifequal section.tree.level 2 %}class="ssubmenu"{% endifequal %}
    {% endspaceless %} >
        {% for child in children %}
            <li id="{{ child.tree.slug }}-{{ child.tree.id }}">
            
            {# anchor has href only if there are any nested sectoins #}
            {% if child.has_nested_sections %}
                <a href="#">
            {% else %}
                <a id="{{ child.tree.slug }}-{{ child.tree.id }}" href="{{ child.tree.get_absolute_url }}">
            {% endif %}
            
            {# draw arrows only if there are any nested sectoins #}
            {% if child.has_nested_sections %}
                {% ifequal section.tree.level 0 %}»{% endifequal %}
            {% endif %}
            
                {{ child.tree.name }}
                
            {# draw arrows only if there are any nested sectoins #}
            {% if child.has_nested_sections %}
                {% ifequal section.tree.level 1 %}→{% endifequal %}
            {% endif %}
            </a>
    	       {% catalog_menu child %}
    	   </li>
    	{% endfor %}
    </ul>
    {% endif %}
{% endif %}